[submodule "thirdparty/yaml-cpp"]
path = thirdparty/yaml-cpp
url = https://github.com/jbeder/yaml-cpp.git

[submodule "thirdparty/Pangolin"]
path = thirdparty/Pangolin
url = https://github.com/stevenlovegrove/Pangolin.git
