# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# user defined
build/
cmake-build-debug/
.idea/
.vscode/
CMakeLists.txt.user
KeyFrameTrajectory.txt
thirdparty/DBoW2/build/
thirdparty/DBoW2/lib/
thirdparty/g2o/build/
thirdparty/g2o/config.h
thirdparty/g2o/lib/
**/build
vocabulary/ORBvoc.txt
build/
*~
lib/
