# [submodule "Pangolin"]
# path = thirdparty/Pangolin
# url = git@github.com:stevenlovegrove/Pangolin.git

# [submodule "opencv"]
# path = thirdparty/opencv
# url = git@github.com:opencv/opencv.git

# [submodule "yaml-cpp"]
# path = thirdparty/opencv
# url = git@github.com:jbeder/yaml-cpp.git
[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "thirdparty/Pangolin"]
	path = thirdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
